*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
  
}
.body{
    width: 100vw;
    height: 138em;
    background-color: gray;
    scroll-behavior: smooth;
}

.container{
   margin-left: 10em;
   margin-right: 10em;
    height: 100em;
    
}

.navbar{
    width: 100%;
    height: 55px;
    display: flex;
    justify-content: space-around;
    background-color: skyblue;
    flex-wrap: wrap;
    flex-shrink: 0;
}

.nav1{
    width: 180px;
    height: 30px;
    font-style: italic;
    font-size: 40px;
    color: azure;
}

.nav2{
    width: 380px;
    height: 30px;
    display: flex;
    justify-content: space-evenly;
}

.nav2-1{
    width: 118px;
    height: 30px;
}
.nav2-1 a{
    font-style: italic;
    font-size: 40px;
    color: azure;
    text-decoration: none;
}

.nav2-2{
    width: 128px;
    height: 30px;
}
.nav2-2 a{
    font-style: italic;
    font-size: 40px;
    color: azure;
    text-decoration: none;
}

.nav2-3{
    width: 128px;
    height: 30px;
}
.nav2-3 a{
    font-style: italic;
    font-size: 40px;
    color: azure;
    text-decoration: none;
}

a:hover{
    border-bottom: 0.2rem solid aliceblue;
    transition: 0.1s ease-in;
}

.container1{
    width: 75.3rem;
    height: 550px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-image: linear-gradient(to right top, #1d285a, #003f6f, #00567e, #006c88, #0f818e);
}

.container1 img{
    width: 20em;
    height: 450px;
    margin-right: 200px;
    border-radius: 150px;
}

.writingsection{
    width: 550px;
    height: 150px;
    display: flex; 
    flex-direction: column;
    justify-content: center;
}

.writingsection1{
    width: 550px;
    height: 75px;
    display: flex;
    align-items: center;
}

.writingsection2{
    width: 370px;
    height: 75px;
    font-style: italic;
    font-size: 55px;
    margin-right: 100px;
    color: azure;
     overflow: hidden;
            border-right: 0.1rem solid orange;
            margin: 0 auto;
            animation: typing 3s steps(100, end), blink-caret 0.75s step-end infinite;
        }
        @keyframes typing{
            from{
                width: 0;
            }
            to{
                width: 370px;
            }
        }
        @keyframes blink-caret{
            from, 
            to{
                border-color: transparent;
            }
            50%{
                border-color: orange;
            }
        }
.writingsection1-1{
   font-style: italic;
    font-size: 70px;
    color: rgb(249, 249, 6);
}

.writingsection1-2{
    font-style: italic;
     font-size: 40px;
     margin-left: 5px;
     color: azure;
}
 .writingsection1-3{
    font-style: italic ;
     font-size: 65px;
     color: azure;
 }

 .line{
    width: 75.3rem;
    height: 3px;
    background-color: antiquewhite;
 }

.container2{
    width: 75.3rem;
    height: 1090px;
    background-image: linear-gradient(to right top, #0eacff, #0092ff, #0074ff, #0050ff, #0007f7);
}

.projects{
    flex-wrap: wrap;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    width: 75.3rem;
    font-weight: 550;
    font-size: 70px;
    font-style: italic;
    color: aliceblue;
}

.photos1{
    width: 75.3rem;
    height: 300px;
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}

h3{
    font-weight: 600;
    font-size: 35px;
    font-style: italic;
    
}

.photos1 img{
    width: 20em;
    height: 300px;
    border-radius: 50px;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: linear;
}

.photos1 img:hover{
    opacity: 0.8;
    transform: scale(1.05);
    transition: 0.3s ease-in;
}

.content{
    width: 20em;
   height: 103px;
   border-bottom-left-radius: 50px;
   border-bottom-right-radius: 50px;
   display: flex;
   justify-content: center;
   align-items: center;
    position: relative;
    top: -6.5rem;
    margin-bottom: -6.5rem;
    transition: 0.3s ease-in-out;
    transform: scale(1.0);
    transform: translateY(35px);
   opacity: 0.01;
    color: white;
}

.content:hover{
    background-color: white;
    color: black;
   transform: translateY(0px);
   opacity: 0.8;
}


.photos2{
    width: 75.3rem;
    height: 300px;
    margin-top: 25px;
    display: flex;
    justify-content: space-around;
}

.photos2-1{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.photos2 img{
    width: 20em;
    height: 300px;
    border-radius: 50px;
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: linear;
}

.photos2 img:hover{
    opacity: 0.8;
    transform: scale(1.05);
    transition: 0.3s ease-in-out;
}

.photos3{
    width: 75.3rem;
    height: 300px;
    margin-top: 25px;
    display: flex;
    justify-content: space-around;
}

.photos3-1{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.photos3 img{
    width: 20em;
    height: 300px;
    border-radius: 50px;
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: linear;
}

.photos3 img:hover{
    opacity: 0.8;
    transform: scale(1.05);
    transition: 0.3s ease-in-out;
}

.container3{
    width: 75.3rem;
    height: 510px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right top, #051937, #043658, #005679, #007897, #109bb2);
}

.box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.heading{
    display: flex;
    justify-content: center;
    width: 75.3rem;
    font-weight: 750;
    font-size: 50px;
    font-style: italic;
    color: aliceblue;
}

img{
    width: 20px;
    height: 20px;
}

.social1{
    width: 400px;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}

.linkedin{
    display: flex;
    gap: 5px;
}

.twitter{
    display: flex;
    gap: 5px;
}

.Mail{
    display: flex;
    gap: 5px;
}
.social2{
    width: 200px;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}

.github{
    display: flex;
    gap: 5px;
}

.mobile{
    display: flex;
    gap: 5px;
}

a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: 900;
    text-decoration-style: dotted;
}
